// COLORS
$color-primary: rgb(199, 233, 121);
$color-secondary: rgb(0, 51, 11);
$title-color: #4bce67;

//FONT
$default-font-size: 1.6rem;
$font-btn: 3.4rem;

//BORDERS
$card-border: 0.2rem solid $color-secondary;
$card-border-radius: 2rem;