$color-primary: rgb(199, 233, 121);
$color-secondary: rgb(0, 51, 11);
$title-color: #4bce67;
$color-bg: $color-secondary;

$default-font-size: 1.6rem;
$font-btn: 3.4rem;

$card-border: 0.2rem solid $color-secondary;
$card-border-radius: 2rem;