body {
  background-image: url("./img/soccer-bg.jpg"); }

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.board {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box; }
  .board__btn {
    margin: 3px;
    background-color: greenyellow;
    padding: 15px;
    border: 4px solid green;
    border-radius: 70px;
    font-size: 36px;
    color: #042403;
    text-align: center;
    letter-spacing: 4px; }
    .board__btn:hover {
      background-color: green; }
